<div class="min-h-screen bg-slate-900 text-white flex flex-col items-center justify-center gap-2">
  <h2 class="text-2xl font-bold">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-black w-full" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "text-black w-full" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-black w-full" %>
  </div>

  <div class="actions flex flex-col flex-1 mt-2 gap-2">
    <%= f.submit "Sign up", class: "cursor-pointer rounded-md bg-yellow-500 w-full p-3" %>
    <%= link_to "Log in", new_session_path(resource_name), class: "cursor-pointer rounded-md bg-green-500 w-full p-3 text-center" %>
  </div>
<% end %>
</div>