<div class="flex flex-col flex-1 bg-slate-900 min-h-screen text-white">

<div class="flex justify-between items-center p-6 ">
<span><%=link_to @category.name.capitalize, categories_path, class: "font-bold text-4xl" %></span>

  
    <%= form_with model: [@category, @task] do |form| %>
      <%= form.label "Add task:" %>
      <%= form.text_field :task_name, class: "text-black"%>

      <%= form.label "Due Date:" %>
      <%= form.date_field :due_date, class: "text-black"%>
      
      <%= form.submit class: "rounded-lg py-2 px-5 bg-white text-black inline-block font-medium cursor-pointer" %> 
    <% end %>
 
  <div class="flex gap-4">
    <%= link_to "Back to Home", categories_path %>
    <%= link_to "Edit Category", edit_category_path %>
    <%= button_to "Delete Category", category_path(@category), method: :delete %>
  </div>
</div>


  <div class="flex flex-1 flex-col border border-white p-4 h-screen gap-6 overflow-y-auto">
    <% @category.tasks.each do |task| %>
        <div class="flex justify-between border border-white p-6">
          <%= task.task_name  %>
          <div class="flex gap-4">
          <%= link_to "Edit", edit_category_task_path(@category, task) %>
          <%= button_to "Completed", category_task_path(@category, task), method: :delete %>
          </div>
        </div>
    <% end %>
  </div>
</div>


